 @charset "UTF-8";
 
 body {
    background-color:darkseagreen;
    font-family: fantasy;
    font-size: 20px;
            
        }
h1 {
    color: darkblue;
    background-color: lightcyan;
        }
h2 {
    color: darkviolet;
        }
p {
    text-align: justify;}