@charset "UTF-8";
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

body {
    background-image: radial-gradient(circle, #d0ddb5, #82965B);
    height: 100%;
}

main {
    background-color: rgb(249, 250, 252);
    margin: auto;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #4e5a37;
       
}    

h1 {
    text-shadow: 2px 2px 1px #505c37;
    color: #82965B;
    text-align: center;
    
    
    
}

h2 {
    color: #AABA89;}

p {
    text-align: justify;
}
