@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
body {
    background-image: url(imagens/uma-natureza-morta-com-uma-lampada-uma-caneta-uma-lanterna-e-um-livro.jpg);
    background-image: url(imagens/rosa-vermelha-dentro-de-um-livro-aberto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}
header {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 80px;
    margin: 5px;
}

main {
    padding: 20px;
}

main p {
    font-size: 60px;
    
}
.fundo1 {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 30px 10px;
    margin: 0;

    line-height: 60px;
}

.fundo2 {
    background-image: url(imagens/uma-natureza-morta-com-uma-lampada-uma-caneta-uma-lanterna-e-um-livro.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.fundo2 p{
    background-color: rgba(128, 128, 128, 0.404);
    font-weight: bold;
    padding: 30px 10px;
    width: 800px;
    align-items: center;
    line-height: 60px;
}

.fundo3 {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 30px 10px;

    line-height: 60px;
}

.fundo4 {
    background-image: url(imagens/rosa-vermelha-dentro-de-um-livro-aberto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fundo4 p{
    background-color: rgba(128, 128, 128, 0.404);
    font-weight: bold;
    padding: 30px 10px;
    width: 800px;
    align-items: center;
    line-height: 60px;
}

.fundo5 {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 30px 10px;
    
    line-height: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}