@charset "UTF-8";
 
 body {
    background-color:#e8dab7;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
            
        }
h1 {
    color:#1d1d1b ;
    
        }
p {
    color: #1d1d1b;
    text-decoration: underline;
        }
a {
    color: #1d1d1b;
    text-decoration: none;
        }
img {
    background-color: #1d1d1b;
    text-align: left;
}
